<launch>

<group ns="turtlesim1">
<node pkg="turtlesim" name="sim" type="turtlesim_node" />
</group>

<group ns="turtlesim2">
<node pkg="turtlesim" name="sim" type="turtlesim_node" />
</group >

<node pkg="turtlesim" name="mimic3" type="mimic">
<remap from="input" to ="turtlesim1/turtle1" />
<remap from="output" to ="turtlesim2/turtle1" />
</node>

<node pkg="turtlesim" name="teleop" type="turtle_teleop_key">
<remap from="turtle1/cmd_vel" to ="turtlesim1/turtle1/cmd_vel" />
</node>

</launch>
